@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 2px rgba(255,255,255,1);
  }

  button {
  width: fit-content !important;
}


header {
  display: flex;
  justify-content: flex-end;
}


button {
  font: 16px 600 Verdana, Geneva, sans-serif !important;
  color: #000000 !important;
  background-color: #eaeaea !important;
  border: 2px solid #cfcfcf !important;
  border-radius: 44px !important;
  outline: none !important;
  padding: 10px 35px !important;
  transition: all 0.3s ease-in-out !important;
}

button:hover {
  color: #feffff !important;
  border: 2px solid #7f7f7f !important;
  box-shadow: 0px -2px 0px 1px #feffff !important;
  background-color: #424242 !important;
}

} 

