@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 2px rgba(255,255,255,1);
  }

  button {
  width: fit-content !important;
}

.mx-auto.max-w-7xl.px-6.lg\:px-8.text-center.flex.flex-col.items-center {
  padding-top:120px;
}
} 

